@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 158 64% 52%;
    --primary-foreground: 222.2 84% 4.9%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 50%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 158 64% 52%;
    --radius: 0.75rem;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
    h1 {
      @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
    }
    h2 {
      @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0;
    }
    h3 {
      @apply scroll-m-20 text-xl font-medium  tracking-tight;
    }
    p {
      @apply leading-7 [&:not(:first-child)]:mt-6;
    }

    .text-underlay-1 {
      background: linear-gradient(98deg, #00ff80 -9.47%, #00a49c 65.47%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .hero{
      background: url("/assets/home.images/hero-3.png");
      background-position: center;
      background-size: cover;
      box-shadow: 0 20px 60px -15px rgba(0, 0, 0, 0.3);
    }
  }